* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.burger {
    display: none;
}
.shopping_bag {
    display: none;
}
/* navbar */
.logo_icon {
    height: 84px;
    width: 190px;
}
.navbar {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.more_icon {
    display: none;
}
.search {
    display: flex;
}
.search_input {
    background: #F9F9F9;
    padding: 12px;
    border: inherit;
    border-bottom-left-radius: 6px; 
}
.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 50px;
    background: #82BA01;
    color: white;
    border-radius: 0px 6px 6px 0px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.search-icon:hover {
    opacity: 1;
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.location-icon {
    padding: 15px;
    border: 2px solid #F9F9F9;
    border-radius: 50%;
}

.location-address__p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #A8A8A8;
}

.location-selector {
    background: none;
    border: none;
}

.call {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 210px;
}

.call-icon {
    padding: 15px;
    border: 2px solid #F9F9F9;
    border-radius: 50%;
}
.call-number {
    display: flex;
    flex-direction: column;
}

.mail {
    width: 195px;
    display: flex;
    justify-content: space-around;
    background: #6701BA;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
    border-radius: 6px;
}
.mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
}
.mail-text {
    margin-left: 10px;
    color: #fff;
}

.navbar_links {
    background: #EDF0F6;
}
.navigation {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation li {
    list-style-type: none;
}
.navigation a {
    color: #272727;
    text-decoration: none;
}
.category-catalog {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #6701BA;
    padding: 10px 32px;
    border-radius: 10px;
}

/* products */

.products {
    display: flex;
    border-radius: 6px;
}
.col {
    box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
    border-radius: 6px;
    margin: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
/* product info */
.product-img_res {
    display: none;
}
.product-box {
    margin-top: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-info {
    width: 450px;
    margin-left: 100px;
}
.product-info__price {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: flex-end;
    color: #82BA01;
}
.product-info__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #272727;
}
.product-info__about {
    margin-top: -10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    color: #A8A8A8;
}
.product-info__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    color: #272727;
}
.product-img {
    margin-top: -320px;
}
.buttons {
    padding-top: 25px;
    height: 200px;
    margin-bottom: 100px ;
}
.shop {
    text-decoration: none;
    padding: 15px 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #6701BA;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
    border-radius: 6px;
}
.more {
    text-decoration: none;
    padding: 15px 45px ;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #272727;
    border: 1px solid #6701BA;
    border-radius: 6px;
}
.category_products-box__text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category_products-box__col__text__h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: #272727;
}
.category_products {
    background: #F9F9F9;
    height: 450px;
    padding-top: 80px;
    margin-top: 80px;
}
.category_products-box__cols {
    display: flex;
    flex-direction: row;
}
.category_products-box__col {
    margin: 20px;
    background: #fff;
}
.category_products-box__col__text {
    text-align: center; 
    padding-top: 20px;
    margin-bottom: 20px;
}

.auc {
    margin-top: 140px;
}

.auc-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auc-info {
    width: 450px;
}
.auc-info__price {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #82BA01;
}
.auc-info__name {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: #272727;
}
.auc-info__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #272727;
}

.auc-box__text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auc-box__col__text__h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: #272727;
}
.auc-img img {
    width: 700px;
    height: 350px;
}
.company {
    background: #F9F9F9;
}
.company-box {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.company-box__h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: #272727;
}
.company-box__text {
    display: flex;
}
.company-box__text__p {
    width: 520px;
    margin-right: 140px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #272727;
}

.company-box__text__row {
    display: flex;
}

.company-box__text__row__col {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: end; */
    width: 200px;
    background: #FFFFFF;
    padding: 46px 30px  10px;
}
.company-box__text__row__col p {
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    color: #272727;
}

.news {
    margin-top: 100px;
    margin-bottom: 140px;
}
.news-info__text {
    padding-top: 100px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #272727;
}
.news-box__cols {
    display: flex;
    flex-direction: row;
}
.news-box__text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-box__col__text__h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: #272727;
}
.news-box__col {
    width: 410px;
    margin: 20px;
    background: #fff;
}
.news-box__col__text {
    margin: 20px;
}
.news-box__col__text__time {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #A8A8A8;
}
.news-box__col__text__p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
}
footer {
    background: #F9F9F9;
}
.tablet_flex {
    display: flex;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    height: 497px;
    padding-top: 40px;
}
.footer-text__logo_icon {
    margin-right: 30px;
}
.footer-text__about__company {
    margin-right: 30px;
}
.footer-text__news {
    margin-left: 30px;
}
.footer-text__news__h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
}
.footer-text__about__company__h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
}
.footer-text__client__h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
}
.footer-text__about__company__nav li a{
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #272727;
}
.footer-text__client__nav li a{
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #272727;
}
.footer-text__news__input {
    background: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #A8A8A8;
    border-radius: 6px;
    padding: 10px;
    border: transparent;
}
.footer-text__news__btn {
    margin-left: 30px;
    background: #6701BA;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
    border-radius: 6px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text__news__p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
}
.footer-text__news__call {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #6701BA;
}
.footer-link {
    border-top: 1px solid #A8A8A8;
}
.footer-link__text {
    margin-top: 48px;
    margin-bottom: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link__text__p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #A8A8A8;
}

/* valuable vegetables page */

.way__box {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
.way__box-light {
    counter-reset: #6701BA;
}
.way__box-light__link {
    color: #A8A8A8;
    border-bottom: 1px solid #A8A8A8;
}

.vegetables__box-text__section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vegetables__box-text__section__text {
    width: 600px;
    /* display: flex; */
}
.vegetables__box-text__h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #272727;    
}
.vegetables__box-text__p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #272727;
}
.date {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.vegetables__box-text__section__img {
    margin: 0 50px;
    margin-bottom: 40px;
}
.vegetables__box-text__section__img_img {
    width: 728px;
    height: 450px;
}

.date-news {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #82BA01;
    margin-right: 20px;
}

.date-time {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #A8A8A8;
}
.vegetables__btn {
    margin-top: 64px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.previous {
    text-decoration: none;
    padding: 15px 41px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #A8A8A8;
    background: #F9F9F9;
    border-radius: 6px;
}

.next {
    text-decoration: none;
    padding: 15px 41px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #272727;
    border: 1px solid #6701BA;
    border-radius: 6px;
}

/* valuable vegetables page */

/* error page */

.error {
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error__box-h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #272727;
    margin-bottom: 30px;
}
.error__box-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #A8A8A8;
    margin-bottom: 50px;
}
.error__box-btn {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error__box-btn__menu {
    margin-left: 30px;
    padding: 15px 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #272727;
    border: 1px solid #6701BA;
    border-radius: 6px;
}
.error__box-bg {
    width: 600px;
    height: 400px;
}

/* error page end */